<!-- src/app/article-form/article-form.component.html -->
<form (ngSubmit)="onSubmit()" class="mb-3">
    <div class="mb-3">
      <label class="form-label">Title:</label>
      <input type="text" class="form-control" [(ngModel)]="newArticle.title" name="title" required />
    </div>
    <div class="mb-3">
      <label class="form-label">Photo URL:</label>
      <input type="text" class="form-control" [(ngModel)]="newArticle.photo" name="photo" />
    </div>
    <div class="mb-3">
      <label class="form-label">Description:</label>
      <textarea class="form-control" [(ngModel)]="newArticle.description" name="description" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Add Article</button>
  </form>
  